:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  min-width: 42.5rem;
}

main,
.controls-box {
  display: flex;
  align-items: center;
}

main {
  gap: 19.2rem;
}

.controls-box {
  flex-direction: column;
}

.timer,
.controls,
.cards-box {
  opacity: 0;
}

.timer {
  font-size: 12.6rem;
  font-family: "Roboto", cursive;
}

.controls {
  display: flex;
}

.cards-box {
  display: grid;
  grid-template-areas:
    "auto auto"
    "auto auto";
}

img {
  cursor: pointer;
}

.cards-box img,
.controls-box img {
  transition: scale 200ms;
}

.cards-box img:hover {
  scale: 1.1;
}

.controls-box img:hover {
  scale: 1.2;
}

.cards-box img.active {
  /* filter: grayscale(); */
}

.controls,
.cards-box,
.timer {
  animation-name: spacing;
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.timer {
  animation-name: going-down;
  animation-delay: 300ms;
}

.controls {
  animation-delay: 600ms;
}

@media (max-width: 940px) {
  main {
    flex-direction: column;
    gap: 4rem;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes going-down {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spacing {
  0% {
    opacity: 0;
    gap: 0;
  }

  100% {
    opacity: 1;
    gap: 3.2rem;
  }
}
