* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-text: #ffffff;
  --dark-text: #090039;
  --light-pink: #bbb3e6;
  --bg-color: #28293e;

  font-size: 62.5%;
}

body {
  font-family: "Epilogue";
  font-size: 1.6rem;
  line-height: 3.2rem;

  background-color: var(--bg-color);
  color: var(--light-text);
}

header {
  text-align: center;

  margin: 10rem 0 8rem;
}

header,
.card h2,
main {
  animation-name: dropdown;
  animation-iteration-count: 1;
  animation-duration: 700ms;
  animation-delay: 350ms;
  animation-fill-mode: forwards;
}

header p {
  color: var(--light-pink);

  letter-spacing: 3px;
  text-transform: uppercase;

  margin-bottom: 1.7rem;
}

header h1 {
  font-weight: 800;
  font-size: 5.6rem;
  letter-spacing: -1px;

  line-height: 6.4rem;
}

#page {
  max-width: 33rem;
  margin: 0 auto;
}

@media (min-width: 700px) {
  #page {
    max-width: 117rem;
    padding: 0 5rem;
  }

  main {
    grid-template-areas: "A B B"
    "C C D";
  }

  main div:nth-child(1) {
    grid-area: A;
  }

  main div:nth-child(2) {
    grid-area: B;
  }

  main div:nth-child(3) {
    grid-area: C;
  }

  main div:nth-child(4) {
    grid-area: D;
  }
}

main {
  display: grid;
  gap: 3.2rem;

  padding-bottom: 10rem;
  animation-name: goingup;
}

.card {
  position: relative;
  transition: transform 200ms;
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  height: 41.6rem;
  object-fit: cover;
  border-radius: 6px;
  transition: filter 200ms;
}

.card img.hovered {
  filter: grayscale(1) brightness(0.8) opacity(0.5);
}

.card h2 {
  font-weight: 800;
  font-size: 3.7rem;

  line-height: 4.8rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  align-items: center;

  position: absolute;
  left: 2.8rem;
  bottom: 5.1rem;
  z-index: 1;

  transition: 200ms;
}

.card h2:hover {
  gap: 0.7rem;
}

.card h2 span {
  font-weight: 400;
  font-size: 1.3rem;

  opacity: 0.5;
  color: var(--dark-text);
  background: var(--light-text);

  width: min-content;

  padding: 0 1.5rem;
  border-radius: 1.9rem;

  transition: opacity 200ms;
  cursor: pointer;
}

.card h2 span:hover {
  opacity: 1;
}

img {
  width: 100%;
  height: auto;
}

@keyframes dropdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes goingup {
  0% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(0);
  }
}
